<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %> | FUNKOSHOP</title>
        <meta name="description" content="HTML-CSS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    
    <body>
        
        <%- include('../partials/header.ejs') %>

        <main class="container">
            <article class="item">
                <picture class="item__cover">
                    <img class="item__img--front" src="<%= item.img_front %>" alt="Figura Funko pop Baby Yoda - Star wars (frente)">
                    <img class="item__img--back" src="<%= item.img_back %>" alt="Figura Funko pop Baby Yoda - Star wars (dorso)">
                </picture>
                <section class="item__info">
                    <p class="item__license"><%= item.licence_name.toUpperCase() %></p>
                    <h3 class="item__title"><%= item.product_name.toUpperCase() %></h3>
                    <p class="item__text"><%= item.product_description %></p>
                    <p class="item__price"><%= item.product_price %></p>
                    <form>
                        <input id="quantity" class="item__input quantity-input" type="number" value="1"  min="1">
                        <div class="item__btn-col btn-col">  
                            <button class="item__quantity-btn quantity-btn quantity-btn--add" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 12 12"><path fill="currentColor" d="M6.5 1.75a.75.75 0 0 0-1.5 0V5H1.75a.75.75 0 0 0 0 1.5H5v3.25a.75.75 0 0 0 1.5 0V6.5h3.25a.75.75 0 0 0 0-1.5H6.5V1.75Z"/></svg>

                            </button>
                            <button class="item__quantity-btn quantity-btn quantity-btn--substract" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 256 256"><path fill="currentColor" d="M228 128a12 12 0 0 1-12 12H40a12 12 0 0 1 0-24h176a12 12 0 0 1 12 12Z"/></svg>
                            </button>
                        </div>
                        <button class="btn-primary item__submit-btn" type="submit">Agregar al carrito</button>
                    </form>
                    <div class="item__promo">
                        <a href="">Ver métodos de pago</a>
                        <span> - <%= item.dues %> CUOTAS SIN INTERÉS</span>
                    </div>
                </section>
            </article>
            
            <section class="slider glide">
                <h2 class="slider__title">PRODUCTOS RELACIONADOS</h2>
                <div class="glide__track" data-glide-el="track">
                    <ul class="slider__items glide__slides">

                        <% relatedItems.forEach(item => { %>          
                            <li class="slider__item glide__slide">
                                <article class="card-item">
                                    <a class="card-item__list" href="/shop/item/<%= item.product_id %>">
                                        <picture class="card-item__cover">
                                            <span class="card-item__tag">Nuevo</span>
                                            <img class="card-item__img--front" src="<%= item.img_front %>" alt="Funko del startrooper">
                                            <img class="card-item__img--back" src="<%= item.img_back %>" alt="Funko del startrooper">
                                        </picture>
                                    </a>
                                    <div class="card-item__content">
                                        <p class="card-item__licence"><%= item.licence_name.toUpperCase() %></p>
                                        <h4 class="card-item__title"><%= item.product_name.toUpperCase() %></h4>
                                        <p class="card-item__price">$<%= item.product_price %></p>
                                        <p class="card-item__promo"><%= item.dues %> cuotas sin interes</p>  
                                    </div>
                                </article>
                            </li>
                        <% }) %>
                        
                    </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"> <iconify-icon icon="ic:outline-chevron-left"></iconify-icon> </button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"> <iconify-icon icon="ic:outline-chevron-right"></iconify-icon> </button>
                </div>
            </section>
        </main>
        
        <%- include('../partials/footer.ejs') %>
            
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
        <script src="/js/glide.js"></script>
        <script src="/js/quantityInput.js"></script>
</body>
</html>