<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %> | FUNKOSHOP</title>
    <meta name="description" content="HTML-CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body class="grid-fixed">

    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <main id="edit" class="container">
        <h2 class="edit__title">EDITAR ITEM</h2>
        <form class="product-form edit__form" action="/admin/edit/<%= item.product_id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="product-form__row">
                <div class="product-form__box">
                    <label class="product-form__label" for="category">Categoría:</label>
                    <select class="product-form__select" name="category" id="category" required>
                        <option value="" disabled selected hidden>Seleccionar</option>
                        <% categories.forEach(category => { %>
                            <option value="<%= Object.keys(category) %>" <% if (Object.keys(category) == item.category_id) { %> selected <% } %>> 
                                <%= Object.values(category) %>
                            </option>
                        <% }) %>
                    </select>
                </div>
                <div class="product-form__box">
                    <label class="product-form__label" for="licence">Licencia:</label>
                    <select class="product-form__select" name="licence" id="licence" required>
                        <option value="" disabled selected hidden>Seleccionar</option>
                        <% licences.forEach(licence => { %>
                            <option value="<%= Object.keys(licence) %>" <% if (Object.keys(licence) == item.licence_id) { %> selected <% } %>> 
                                <%= Object.values(licence) %>
                            </option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="product-form__box">
                <label class="product-form__label" for="name">Nombre del producto:</label>
                <input class="input-underlined product-form__input--long" type="text" name="name" id="name" value="<%=item.product_name%>" required>
            </div>
            <div>
                <textarea name="description" id="description" cols="30" rows="10" required><%= item.product_description %></textarea>
            </div>
            <div class="product-form__row">
                <div class="product-form__box">
                    <label class="product-form__label" for="sku">SKU:</label>
                    <input class="input-underlined product-form__input--medium" type="text" name="sku" id="sku" value=<%= item.sku %> required>
                </div>
                <div class="product-form__box">
                    <label class="product-form__label" for="price">Precio:</label>
                    <div class="product-form__input--wrapper">
                        <span>$</span><input class="input-underlined product-form__input--medium" type="text" name="price" id="price" 
                        data-type="currency" value=" <%= item.price %>">
                    </div>
                </div>
                <div class="product-form__box">
                    <label class="product-form__label" for="stock">Stock:</label>
                    <input class="input-underlined product-form__input--short" type="text" name="stock" id="stock" value="<%= item.stock %>" required>
                </div>
            </div>
            <div class="product-form__row">
                <div class="product-form__box">
                    <label class="product-form__label" for="discount">Descuento:</label>
                    <div class="product-form__input--wrapper">
                        <input class="input-underlined product-form__input--short" value="<%= item.discount %>" type="text" name="discount" id="discount" required> <span>%</span>
                    </div>
                </div>
                <div class="product-form__box">
                    <label class="product-form__label" for="dues">Cuotas:</label>
                    <select class="product-form__select product-form__select--large" name="dues" id="dues">
                        <option value="0" selected>Sin coutas</option>
                        <% dues.forEach(duesOption => { %> 
                            <option value="<%= duesOption %>" 
                                <% if (item.dues == duesOption) { %> selected <% } %>> 
                                <%= duesOption %> cuotas s/ interés</option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="product-form__box">
                <label class="product-form__label" for="images">Imagenes:</label>
                <input type="file" name="images" id="img" multiple>
            </div>
            <div class="product-form__row--img">
                <div class="product-form__img-box">    
                    <img src="<%= item.image_front %>" alt="imagen producto frente">
                    <div class="product-form__img-description">
                        Frente
                    </div>
                </div>
                <div class="product-form__img-box">
                    <img src="<%= item.image_back %>" alt="imagen producto dorso">
                    <div class="product-form__img-description">
                        Dorso
                    </div>
                </div>
            </div>
            <div class="product-form__row">
                <input class="btn-primary product-form__btn" type="submit" value="Modificar Producto">
            </div>
        </form>
    </main>
    
    <!--  footer  -->
    <%- include('../partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
</body>
</html>